
body {
    height: 100%;
    background-image: url("assets/images/mine.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
      
 }
 #jumbotron{
    background-color: transparent;
 }
 p,h1,h2,h3,#guessingNumber,#totalScore,#scoreboard{
     color: white;
     font-weight: bolder;
     font-size: 3vw;
 }
 p{
     font-size: 3vw;
 }
 #guessingNumber{
    font-weight: bolder;
 }
 #totalScore{
    font-weight:bolder;
 }
 #wrapper {
    width:800px;
    clear:both;
  }
  #first {
    width:200px;
    float:left;
  }
  #second {
    width:200px;
    float:left;
  }
  #third {
    width:200px;
    float:left;
  }
  #fourth {
      width:200px;
      float:left;
  }
 
@media (max-width: 74.9em) {
     .img {max-width: 25%;}
     body {max-height:100% ;} 
}



 