body {
    background-image: url("assets/images/mine.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
    opacity: 50%;

 }
 #jumbotron{
    background-color: transparent;
 }
 p,h1,h2,h3,#guessingNumber,#totalScore,#scoreboard{
     color: white;
     font-weight: bolder;
 }
 #guessingNumber{
    font-size: 25px;
    font-weight: bolder
 }
 #totalScore{
    font-size:25px;
    font-weight:bolder;
 }